body, html{
    height: 100%;
    width: 100%;
}

/*Presente em todas as telas*/

header{

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 100%;

    border-bottom: 0.1rem solid black; 
    background-color: #1E98F5; 
}

header img{

    position:absolute;

    height: 3rem;
    width: 3rem;

    left: 0.5rem;
    top:1rem; 
}

header h1{
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    align-items: center;
    max-width: 100%;
}

.content-box{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 3;

    align-items: center;
    text-align: center;
    justify-content: space-evenly;

 }

 /*Tela MENU PRINCIPAL*/

 .inicio{

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

    flex-grow: 3;

    width: 100%;
 }

 .content-box .a_content{

    display: flex;

    justify-content: center;
    align-items: center;

    border-right:  0.1rem solid black;

    width: 100%;
}

.content-box img {

    position:relative;

    height:8rem;
    width: 8rem;

    right: 0.1rem;
}

.bemvinda {
    font-size:2rem;
    font-family: 'Ubuntu', sans-serif;

    padding:0.8rem;

    width: 100%;

 }

 .content-box h3 {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-grow: 1;

    width:100%;
    font-size:1.8rem;
    font-family: 'Ubuntu', sans-serif;
 }

.items{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    flex-grow: 3;
    
    width: 100%;
}

.items a {
    border: none;
}

.select{

    display: flex;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 50%;

    font-size:1.5rem;
    font-family: 'Ubuntu', sans-serif;
   
    border: 0.1rem solid black;

    border-radius: 0.7rem;

    background-color: #68B9F7;
}

.select a {
    text-decoration: none;
    border: none;
    color: black;
}


/*TELA CHAT*/

/*Tentando ajustar convera André*/

.content-box .ir_chat{
    text-decoration: none;
    border-right: none;
}

/**/

.imagem_paciente{
    
    height: 5rem;
    width: 5rem;

    right: 0.1rem;

}

.conversa {
    
    display:flex;
    
    align-items:center;
    justify-content: flex-start;
    flex-grow: 1;

    width: 100%;
    
    margin: 0.5rem 0rem;
    
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}

.paciente {

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-around;

    width:100%;
    height: 100%;

    left: 0.5rem;

    border-left: 0.1rem solid black;
}

.paciente:hover{
    cursor: pointer;
}

.head {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50%;

    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 0.1rem solid black;
}

.head p {
    text-decoration: underline;
    color: red;
}

.frase , .ir_chat {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    height: 100%;

    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;

    text-align: center;

    padding-left: 0.8rem;
}

.ir_chat{
    text-decoration: none;
    color: black;

    left: 0rem;;
}

/*Adicionando classes ativadas por javascript após ser apertado o botão alerta.*/
/*overlay reaproveitado de remarcar consulta*/

.cabecalho_2 {

    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-top: 0.4rem;

    font-size: 1.2rem;
    border-bottom: 0.1rem solid black;
}

.x {

    position: absolute;
    top:0rem;
    left:0rem;

    width:0.8rem;
    height: 0.8rem;
} 

.botoes {

    width: 100%;
    height: 40%;

    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

.botao_sim , .botao_nao {
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35%;
    height: 30%;

    font-size: 1rem;

    border: 0.1rem solid black;
    border-radius: 0.3rem;

    font-size: 1.2rem;

    margin-bottom: 1.2rem;
} 

.alerta .alerta_img {

    width:1.4rem;
    height: 1.4rem;
}

/*TELA AGENDA*/

.data {

    width: 100%;

    display: flex;
    flex-grow: 1;

    align-items: center;
    justify-content: space-evenly;

    font-family: 'Ubuntu', sans-serif;

    border-bottom: 0.1rem solid black;
}

.data img {
    height: 2rem;
    width: 2rem;
}

.agenda {

    width: 100%;

    display: flex;
    flex-direction: column;

    flex-grow: 20;

    justify-content: space-around;
    align-items: center;
}

.linha_agenda {

    width: 100%;
    height: 100%;

    display: flex;

    font-family: 'Roboto Slab', serif;

    align-items: center;
    justify-content: space-evenly;
    

    border-bottom: 0.1rem solid black;
}

.linha_agenda_principal{
    font-family: 'Ubuntu', sans-serif;

    width: 100%;
    height: 100%;

    display: flex;


    align-items: center;
    justify-content: space-evenly;

    border-bottom: 0.1rem solid black;
}


/*Agenda pop e fundo transparente*/




/*Concertando a sobreposição de linhas da última pessoa*/
.linha_agenda_ultima {

    width: 100%;
    height: 100%;

    display: flex;
    font-size: 0.8rem;
    font-family: 'Roboto Slab', serif;

    align-items: center;
    justify-content: space-evenly;

}
/**/

.linha_agenda li {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.8rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    
}

.linha_agenda_principal li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}


.linha_agenda_ultima li {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;
    width: 100%;
    height: 100%;
}

.hora{
    border-right: 0.1rem solid black;

}

img.add_consulta {
    height: 2.5rem;
    width: 2.5rem;
}

/*TELA MARCAR CONSULTA*/

.add_nome_paciente {
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    justify-content: center;
    align-items: flex-start;

    width: 100%;
}

.add_nome_paciente li { /*h2*/
    
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.2rem;
}

li.nome_paciente{
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 0.1rem solid black;
    
    margin-left:0.1rem;
}

li .Nome{
    width: 80%;
    height: 90%;

    margin-top: 2.4rem;
}

.frequencia {

    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}



.frequencia h2 {

    width: 100%;
    height: 5%;

    margin-left: 0.1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;

    border-bottom: 0.1rem solid black;
}


.formulario {
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;

    flex-grow: 2;
}



.frequencia .periodo{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;


}

.frequencia .botao{

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.2rem;
}

.frequencia .marcado{

    width: 40%;
    height: 2rem;

    border-radius: 0.4rem;
    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;

}

/*JAVASCRIPT AGENDA - MARCAR CONSULTA*/
/*Partes utilizadas tambem para o botao alerta*/


.overlay {
    display: none;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.5;
}

.popup {

    position: fixed;
    display:none;

    top: 30%; 
    left: 25%; 

    width: 50%;
    height: 40%;
    padding: 0.2rem;

    border: solid 1px #4c4d4f;
    background:white;

    /*Quando abertado mudar para display flex , justify content: space evenly e align item center*/

}


.cabecalho {

    height: 20%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 0.1rem solid black;

    font-size: 1.2rem;
}

.x {

    position: absolute;
    top:0rem;
    left:0rem;

    width:0.8rem;
    height: 0.8rem;
} 

.popup p {

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;

}

.botao_desmarcar {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 15%;

    font-size: 1rem;

    border: 0.1rem solid black;
    border-radius: 0.3rem;

    font-size: 1.2rem;

    margin-bottom: 1.2rem;
}


/*TELA TROCA DE MSM*/

.mensagens{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-bottom: 0.05rem solid gray;
}

.msm_pac{
    
    width: 60%;
    height: 10%;

    display: flex;
    align-items: center;

    padding-left: 0.1rem;
    margin-left: 0.2rem;

    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;

    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}

/* adicionando remarcar por javascript */
.msm_psi, .pos_agenda_resp{

    width: 100%;
    height: 10%;

    font-family: 'Roboto Slab', serif;
    font-size:0.8rem;
    font-weight: bolder;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.4rem;
}

/*para permitir a borda*/
/* adicionando remarcar por javascript */
.msm_psi .msm, .pos_agenda_resp .msm{

    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 100%;

    padding-left: 0.1rem;

    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    margin-right: 0.2rem;
}

.depois_agenda{
    display: none;
}

.digite {

    position: relative;

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.content-box .ligar{
    width: 1%;
}

.digite .digite_aqui{

    width: 70%;
    height: 60%;

}

.digite img {

    position: absolute;

    width: 2rem;
    height: 2rem;

    right:1.8rem;
    bottom: 0.7rem;
}

/*TELA EXTRAS VÍDEO E PERFIL*/

/*Video*/
.content-box video{
    width: 115%;
    height: 104%;
}

/*Perfil*/
.content-perfil{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.nav-perfil{
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.maria{
    display:flex;
    justify-content: center;
    align-items: center;

    font: 1.7rem black;
    font-family: 'Ubuntu', sans-serif;

    text-align: center;
}

.opcoes{
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.7rem black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.content-perfil .seu-perfil {
    width: 9rem;
    height: 9rem;
}

.content-perfil .ajuda {
    width: 1rem;
    height: 1rem;
    margin-left: 0.3rem;
}

.content-perfil a{
    text-decoration: none;
    border:0.1rem solid black;
    border-radius: 0.6rem;
   
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 3rem;

    font: 1.2rem black;
}

.content-perfil li {
    font-size: 1.5rem;
    height: 3rem;

}


a.perfil_sair {
    
    font: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    
    background-color: #68B9F7;
    color:black;
}

/*Presente em todas as telas FOOTER*/

footer {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu', sans-serif;

    flex-grow: 1;

    width: 100%;
    
    border-top: 0.1rem solid black;
    margin-top: 0.1rem;

}

footer img {
    width: 3rem;
    height: 2.5rem;
}

