body, html{
    height: 100%;
    width: 100%;
}

/*Presente em todas as telas*/

header{

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    width: 100%;

    border-bottom: 0.1rem solid black; 
    background-color: #7760FF; 
}

header img{

    position:absolute;

    height: 3.5rem;
    width: 3rem;

    left: 0.5rem;
    top:1rem; 
}

header h1{

    font: 2rem black;
    text-align: center;
    align-items: center;
    max-width: 100%;
}

.content-box{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 3;

    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    padding: 0.2rem 0.2rem;
       
 }

 /*Tela MENU PRINCIPAL*/

 .inicio{

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;

    flex-grow: 3;

    width: 100%;
 }

 .content-box .a_content{

    display: flex;

    justify-content: center;
    align-items: center;

    /*border-right:  0.1rem solid black;*/

    width: 100%;
}

.content-box img {

    position:relative;

    height:8rem;
    width: 8rem;

    right: 0.1rem;
}

.bemvinda {

    font-size:2rem;
    padding:0.8rem;

    width: 100%;

 }

 .content-box h3 {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-grow: 1;

    width:100%;
    font-size:1.8rem;
 }

.items{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    flex-grow: 3;
    
    width: 100%;
}

.select{

    display: flex;
    align-items: center;
    justify-content: center;

    height: 6rem;
    width: 70%;

    font-size:1.5rem;

    border: 0.1rem solid black;

    border-radius: 0.7rem;
}

.select a {
    text-decoration: none;
    border: none;
}


/*TELA CHAT*/

/*Tentando ajustar convera André*/

.content-box .ir_chat{
    text-decoration: none;
    border-right: none;
}

/**/

.imagem_paciente{
    
    height: 5rem;
    width: 5rem;

    right: 0.1rem;

}

.conversa {
    
    display:flex;
    
    align-items:center;
    justify-content: flex-start;
    flex-grow: 1;

    width: 100%;
    
    margin: 0.5rem 0rem;
    
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}

.paciente {

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-around;

    width:100%;
    height: 100%;

    left: 0.5rem;

    border-left: 0.1rem solid black;
}

.paciente:hover{
    cursor: pointer;
}

.head {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50%;

    font-size: 1.2rem;
    border-bottom: 0.1rem solid black;
}

.head p {
    text-decoration: underline;
    color: red;
}

.frase , .ir_chat {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 80%;
    height: 100%;

    text-align: center;

    padding-left: 0.8rem;
}

.ir_chat{
    text-decoration: none;
    color: black;

    left: 0rem;;
}


/*TELA AGENDA*/

.data {

    width: 100%;

    display: flex;
    flex-grow: 1;

    align-items: center;
    justify-content: space-evenly;

    border-bottom: 0.1rem solid black;
}

.data img {
    height: 2rem;
    width: 2rem;
}

.agenda {

    width: 100%;

    display: flex;
    flex-direction: column;

    flex-grow: 20;

    justify-content: space-around;
    align-items: center;
}

.linha_agenda {

    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-evenly;

    border-bottom: 0.1rem solid black;
}

/*Concertando a sobreposição de linhas da última pessoa*/
.linha_agenda_ultima {

    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-evenly;

}
/**/

.linha_agenda li {
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
}

.linha_agenda_ultima li {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.hora{
    border-right: 0.1rem solid black;
}

img.add_consulta {
    height: 2.5rem;
    width: 2.5rem;
}
/*TELA MARCAR CONSULTA*/

.add_nome_paciente {
    
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;

    justify-content: center;
    align-items: flex-start;

    width: 100%;
}

.add_nome_paciente h2 {
    
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    font-size: 1.2rem;
    border-bottom: 0.1rem solid black;


}

li.nome_paciente{

    border-bottom: 0.1rem solid black;
    /*margin-bottom: 1.2rem;*/
}

li .Nome{
    width: 80%;
    height: 90%;

    margin-top: 2.4rem;
}

.frequencia {

    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}



.frequencia h2 {

    /*margin-bottom: 1.5rem;*/

    width: 100%;
    height: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.2rem;

    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:40%;
    justify-content: space-evenly;
    align-items: center;
    

    margin-top: 1.5rem;

    flex: 2;
}

.botao{
    width: 30%;
    min-width: 10%;
    
    
}

.frequencia .periodo{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.frequencia .botao{

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.2rem;
}

.frequencia .marcado{

    width: 50%;
    height: 2rem;

    border-radius: 0.4rem;

}

/*TELA TROCA DE MSM*/

.mensagens{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-bottom: 0.05rem solid gray;
}

.msm_pac{
    
    width: 60%;
    height: 10%;

    display: flex;
    align-items: center;

    padding-left: 0.1rem;
    margin-left: 0.2rem;

    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}

.msm_psi {

    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;

    margin-right: 0.4rem;
}

/*para permitir a borda*/
.msm_psi .msm {

    display: flex;
    align-items: center;

    width: 60%;
    height: 100%;

    padding-left: 0.1rem;

    border: 0.1rem solid black;
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    margin-right: 0.2rem;
}

.depois_agenda{
    display: none;
}

.digite {

    position: relative;

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.content-box .ligar{
    width: 1%;
}

.digite .digite_aqui{

    width: 70%;
    height: 60%;

}

.digite img {

    position: absolute;

    width: 2rem;
    height: 2rem;

    right:1.8rem;
    bottom: 0.7rem;
}

/*TELA EXTRAS VÍDEO E PERFIL*/

/*Video*/
.content-box video{
    width: 115%;
    height: 104%;
}

/*Perfil*/
.content-perfil{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.nav-perfil{
    height: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.maria{
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.7rem black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.opcoes{
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.7rem black;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.content-perfil .seu-perfil {
    width: 9rem;
    height: 9rem;
}

.content-perfil .ajuda {
    width: 1rem;
    height: rem;
    margin-left: 0.3rem;
}

.content-perfil a{
    text-decoration: none;
    border:0.1rem solid black;
    border-radius: 0.6rem;
   
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 3rem;

    font: 1.2rem black;
    font-family: 'Ubuntu', sans-serif;
}

.content-perfil li {
    font-size: 1.5rem;
    height: 3rem;

}

/*Presente em todas as telas FOOTER*/

footer {

    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    width: 100%;
    
    border-top: 0.1rem solid black;
    margin-top: 0.1rem;

}

footer img {
    width: 3rem;
    height: 2.5rem;
}

