body, html{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: 0.1rem solid black;   
}

header img{
    position:absolute;
    height: 1.7rem;
    width: 1.7rem;
    left: 0.3rem;
    top:0.7rem; 
}

header h1{
    font: 2.6rem black;
    text-align: center;
    align-items: center;
    max-width: 100%;
}

.content-box{
    max-width: 90%;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
 }


.content-box img {
    position:relative;
    top:2rem;
    left:9rem;
    height:9rem;
    width: 9rem;
    }

.content-box div {
    position:relative;
    height:7rem;
    width: 7rem;
    font-size:2.3rem;
    padding:1.3rem;
    border-left: 0.1rem solid black;
    display:flex;
    flex-direction: row;
    top:2rem;
    left:10.5rem;
    
 }

 .content-box h2 {
    position:relative;
    width:100%;
    font-size:3rem;
    top:15rem;  
 }

.items{
    position:relative;
    top:30rem;
    text-align:center;  
}

.select{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    height: 4rem;
    width: 10rem;
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}

footer{
    top:60rem;
}


.imagem{
    height: 5rem;
    width: 5rem;

}


/*classes chat*/

.conversa1 {
    display:flex;
    flex-direction: row;
    position:relative;
    align-items:center;
    flex-wrap:wrap;
    max-height:80%;
    width: 100%;
    margin: 0.5rem 0rem;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.7rem;
}

/*Espaço entre nome e alerta*/
.espaco{
    display: flex;
    justify-content: space-between;

}





